.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}
.title{
	font-size: clamp(2.5rem, 5vw, 6rem);
	font-family: 'Mirza', sans-serif;
	line-height: 0.9em;
	text-transform: capitalize;
	color: var(--primary-color);
}
.navLinks {
	display: flex;
	justify-content: space-between;
	margin-right: 20%;
	li {
		display: inline-block;
	}
	a {
		font-size: 1.8rem;
		align-items: center;
		margin-right: 50px;
		display: inline-block;
	}
}
@media screen and (max-width: 768px) {
	.navbar{
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}
	.title{
		font-size: 30px;
	}
	.navLinks {
		margin-right: 10px;
		margin-left: 10px;

		a {
			margin-right: 20px;
			align-items: center;
			display: inline-block;
		}
	}
}
